<div class="bibliography">
  <style type="text/css" id="zoterostylesheet" scoped>
    .bibshowhide {
      display: none;
    }

    .abstract {
      display: none;
    }

    .blink {
      margin: 0;
      margin-right: 15px;
      padding: 0;
      display: none;
    }
  </style>
  <script type="text/javascript">
    function downloadFile(elem) {
      filename = "article.ris"
      if (elem.parentNode) {
        var elems = elem.parentNode.getElementsByTagName('*');
        for (i in elems) {
          if ((' ' + elems[i].className + ' ').indexOf(' ' + 'bibshowhide' + ' ') > -1) {
            var ee = elems[i]
            if (ee.childNodes[0]) {
              ee = ee.childNodes[0]
            }
            var pom = document.createElement('a');
            pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(ee.innerHTML));
            pom.setAttribute('download', filename);
            pom.click();
          }
        }
      }
    }

    function show(elem) {
      if (elem.parentNode) {
        var elems = elem.parentNode.getElementsByTagName('*'),
          i;
        for (i in elems) {
          if ((' ' + elems[i].className + ' ').indexOf(' ' + 'bibshowhide' + ' ') > -1) {
            if (elems[i].style.display == 'block') {
              elems[i].style.display = 'none';
            } else {
              elems[i].style.display = 'block';
            }
          }
        }
      }
      return (void(0));
    }

    function changeCSS() {
      if (!document.styleSheets) return;
      var theRules = new Array();
      //ss = document.styleSheets[document.styleSheets.length-1];
      var ss = document.getElementById('zoterostylesheet');
      if (ss) {
        ss = ss.sheet
        if (ss.cssRules)
          theRules = ss.cssRules
        else if (ss.rules)
          theRules = ss.rules
        else return;
        theRules[theRules.length - 2].style.display = 'inline';
        theRules[theRules.length - 1].style.display = 'inline';
      }
    }
    changeCSS();
  </script>
  <hr>
  <div class="full-bib-section">
    <div class="bib-item">
      <div class="csl-entry">D. H. Patil &amp; Rakesh R. Bhavsar &amp;Akshay S. Thorve (2012). <a class="doctitle" href="http://www.ijcaonline.org/proceedings/etcsit/number5/5993-1035">Data Security over Cloud <i>IJCA Proceedings on Emerging Trends in Computer Science and Information Technology (ETCSIT2012) etcsit1001 ETCSIT(5):11-14, April 2012. </i>  http://www.ijcaonline.org/proceedings/etcsit/number5/5993-1035
      </div>
      <div class="blink"><a href="javascript:show(this);" onclick="show(this);">bib</a>
        <div class="bibshowhide">
          <div class="bib">@article{key:article, author = {D. H. Patil and Rakesh R. Bhavsar and Akshay S. Thorve}, title = {Article: Data Security over Cloud}, journal = {IJCA Proceedings on Emerging Trends in Computer Science and Information Technology (ETCSIT2012)
            etcsit1001}, year = {2012}, volume = {ETCSIT}, number = {5}, pages = {11-14}, month = {April}, note = {Full text available} }
          </div>
        </div>
      </div>

    </div>
  </div>
</div>